.header{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
   
}
.logoDashboard{
    height: 60px;
}

.serach{
   position: absolute;
   left: 15%;
   top: 35%;
   border: 2px solid;
   border-color: dimgray;
}

@media screen and (max-width: 720px) {
    .serach{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }
    .logoDashboard{
        height: 50px;
    }
}