.body1{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
}

.cardBackground1{
    height: 80px;
}
.card1{
    border-color: black;

}
.profile1{
    height: 100px;
    align-items: center;
    justify-content: center;

}
.nameTitle1{
    font-size: 26px;
    font-weight: 500;
}
