.home{
    background-image: url(../../Assests/home.jpg);
    background-position: center;
   background-size: cover;
   height: 568px;

    
}
.logo{
  height: 300px;
  width: 400px;
  align-items:center;
  justify-content: center;
  position:absolute;
  left:28%;
}